In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats
import statsmodels.api as sm
%matplotlib inline
import requests
import json
from urllib.request import urlretrieve
from bs4 import BeautifulSoup
from collections import defaultdict

In [2]:
tn_pop = pd.read_csv('../data/us_census_tn_pop_by_county_2010_2019.csv', skiprows=3)
tn_pop.head(10)

,Unnamed: 0,Census,Estimates Base,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Tennessee,"6,346,105","6,346,276","6,355,311","6,399,291","6,453,898","6,494,340","6,541,223","6,591,170","6,646,010","6,708,799","6,771,631","6,829,174"
1,".Anderson County, Tennessee","75,129","75,082","75,098","75,209","75,225","75,299","75,157","75,456","75,528","76,056","76,287","76,978"
2,".Bedford County, Tennessee","45,058","45,057","45,078","45,247","45,254","45,565","46,251","46,948","47,442","48,211","49,146","49,713"
3,".Benton County, Tennessee","16,489","16,491","16,511","16,529","16,445","16,360","16,197","16,220","16,082","15,993","16,246","16,160"
4,".Bledsoe County, Tennessee","12,876","12,874","12,884","12,992","12,926","13,910","14,501","14,601","14,738","14,895","14,883","15,064"
5,".Blount County, Tennessee","123,010","123,098","123,199","123,664","124,024","124,874","125,847","126,954","128,264","129,999","131,331","133,088"
6,".Bradley County, Tennessee","98,963","98,926","99,083","99,798","101,049","101,778","102,771","103,774","104,390","105,421","107,050","108,110"
7,".Campbell County, Tennessee","40,716","40,723","40,735","40,688","40,532","40,247","39,893","39,772","39,784","39,791","39,795","39,842"
8,".Cannon County, Tennessee","13,801","13,813","13,797","13,724","13,789","13,700","13,572","13,740","13,876","14,157","14,440","14,678"
9,".Carroll County, Tennessee","28,522","28,486","28,454","28,547","28,667","28,606","28,411","27,982","27,901","27,807","27,975","27,767"

In [3]:
#drop all columns except for 2019
tn_pop = tn_pop.drop(columns = ['2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017'], axis=1)

In [4]:
tn_pop.head()

                    Unnamed: 0     Census Estimates Base       2018       2019
0                    Tennessee  6,346,105      6,346,276  6,771,631  6,829,174
1  .Anderson County, Tennessee     75,129         75,082     76,287     76,978
2   .Bedford County, Tennessee     45,058         45,057     49,146     49,713
3    .Benton County, Tennessee     16,489         16,491     16,246     16,160
4   .Bledsoe County, Tennessee     12,876         12,874     14,883     15,064

In [5]:
tn_pop.columns = ['County', 'Census', 'Estimates_Base', '2018', '2019']
tn_pop.reset_index()
tn_pop.head()

                        County     Census Estimates_Base       2018       2019
0                    Tennessee  6,346,105      6,346,276  6,771,631  6,829,174
1  .Anderson County, Tennessee     75,129         75,082     76,287     76,978
2   .Bedford County, Tennessee     45,058         45,057     49,146     49,713
3    .Benton County, Tennessee     16,489         16,491     16,246     16,160
4   .Bledsoe County, Tennessee     12,876         12,874     14,883     15,064

In [6]:
tn_pop.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101 entries, 0 to 100
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   County          101 non-null    object
 1   Census          96 non-null     object
 2   Estimates_Base  96 non-null     object
 3   2018            96 non-null     object
 4   2019            96 non-null     object
dtypes: object(5)
memory usage: 4.1+ KB

In [20]:
# need to remove all of the footnotes at the bottom (see below)
tn_pop.sort_values('2019').tail()

,County,Census,Estimates_Base,2018,2019
96,Note: The estimates are based on the 2010 Cens...,NaN,NaN,NaN,NaN
97,Suggested Citation:,NaN,NaN,NaN,NaN
98,Annual Estimates of the Resident Population fo...,NaN,NaN,NaN,NaN
99,"Source: U.S. Census Bureau, Population Division",NaN,NaN,NaN,NaN
100,Release Date: March 2020,NaN,NaN,NaN,NaN